html,
body {
  height: 100%;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;

}
h2{
    padding-bottom: 2rem;
}

.gradient {
    background: rgb(195,34,56);
    background: linear-gradient(0deg, rgba(195,34,56,1) 0%, rgba(253,142,45,1) 100%);
}

.page-header {
  margin-top: 4rem;
  font-size: 1.25rem;
  color: #fff;
}

.feature {
  color: #fff;
}

.feature ul {
  padding-left: 2rem;
  list-style-type: none;
}

.feature ul li {
  padding-left: 2rem;
  background-image: url(../img/check.svg);
  background-repeat: no-repeat;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.icon {
  color: #fff;
  height: 5rem;
  width: 5rem;
  font-size: 1.75rem;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.gallery {
  background-color: whitesmoke;
}

.gallery img {
  border-radius: 5%;
}

.services {
  color:rgb(12, 6, 6);
  padding: 2rem 0 2rem 0;
}

footer {
  color: rgb(12, 6, 6);
  font-size: 1rem;
  margin: 0;
  padding: 1rem;
}

a {
  color: #fff;
  text-decoration: none;
}
p{
    padding: auto;
}
.img-fluid {
    width: 76px;
    height: 76px;
    margin: 50px 0 50px 0;
}

